<div *ngIf="showPlayer()">
    <div class="navigation">
        <button (click)="getClosestPlayers()" [disabled]="!buttonEnabled()">Search</button>
        <input type="number" [(ngModel)]="year" placeholder="Player season">
        <input type="number" [(ngModel)]="neighSeason" placeholder="Neighbours">
        <input type="text" [(ngModel)]="firstName" placeholder="First name">
        <input type="text" [(ngModel)]="surname" placeholder="Surname">
    </div>
    <div class="player-list-container" *ngIf="players.length > 0">
        <div class="player-list-row"> 
        <div class="player-list-data">&nbsp;&nbsp;&nbsp;&nbsp;Name </div>
        <div class="player-list-data">Age </div>
        <div class="player-list-data">Value </div>
        <div class="player-list-data">Club </div>
        <div class="player-list-data">Nationality </div>
        <div class="player-list-data">Predicted value </div>
        <div class="player-list-button"></div>
        </div>
        <div *ngFor="let player of players; let idx = index" class="player-list-row">            
            <div class="player-list-data">{{idx+1}}. {{player.first_name}} {{player.second_name}} </div>
            <div class="player-list-data">{{player.age}} </div>
            <div class="player-list-data">{{player.player_value}} </div>
            <div class="player-list-data">{{player.player_club}} </div>
            <div class="player-list-data">{{player.nationality}} </div>
            <div class="player-list-data">{{player.predicted_value}} </div>
            <div class="player-list-button"><button (click)="setPlayerIdx(idx)">Show details </button></div>
        </div>
    </div>
</div>

<div *ngIf="!showPlayer()">
    <!--Show player: {{players[playerIdx].player_name}}
    <button (click)="setPlayerIdx(-1)">Back</button>
    <div class="player-details-container">
        <div *ngFor="let field of (players[playerIdx] | keyvalue)" class="player-details-row">
            <div class="player-details-key">{{field.key}}:</div>
            <div class="player-details-value">{{field.value}}</div>
        </div>
    </div>-->
    <app-player-details (goBack)="setPlayerIdx(-1)" [firstName]="players[playerIdx].first_name" [surname]="players[playerIdx].second_name"></app-player-details>
</div>