.player-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-details-container {
    width: 70%;
    margin: 10px;
}

.player-details-key {
    display: flex;
    justify-content: left;
    width: 100%;
    //background-color: aquamarine;
    
    border-bottom-style: solid;
    border-bottom-width: thin;
    //border-right: none;
}

.player-details-value {
    display: flex;
    justify-content: right;
    width: 100%;
    //background-color: blueviolet;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.player-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3px;
}

.player-list-container {
    width: 90%;
    margin: 10px;
}

.player-list-data{
    display: flex;
    justify-content: left;
    width: 100%;
    //background-color: aquamarine;
    

}

.player-list-button {
    display: flex;
    justify-content: right;
    width: 100%;
    //background-color: blueviolet;

}

.navigation {
    margin: 6px;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}